body{
	color: #7B7D7D ;
font-size: 16px;
}

.commande{

padding: 30px ;
}

#details{
	 {color: #595959;
	 border: solid; 
	  margin-bottom: 5px;}

.etapes{
	border: solid 1px #fff; }


}



a{
font-weight: bold;
}


